<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><% if title %><%= title %><% end %></title>
	<meta name="turbo-cache-control" content="no-cache">
        <%- rwf_head() %>

        <!-- <script async src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        ></script>

        <script type="module" async>
          import { Application } from 'hotwired/stimulus'
          const application = Application.start();
          import Requests from '/static/js/requests_controller.js'
          import Model from '/static/js/model_controller.js'
          application.register('requests', Requests)
          application.register('model', Model)
        </script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class="">
        <%- rwf_turbo_stream("/turbo-stream") %>
