<%% "templates/rwf_admin/head.html" %>
<%% "templates/rwf_admin/nav.html" %>

<div class="container mb-5">
    <% for name in ["jobs"] %>
        <%% "templates/rwf_admin/reload.html" %>
    <% end %>
    <div class="row">
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-center">Queued</p>
                    <h3 class="text-center"><%= queued %></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-center">Running</p>
                    <h3 class="text-center"><%= running %></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-center">Errors</p>
                    <h3 class="text-center"><%= errors %></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-center">Latency</p>
                    <h3 class="text-center"><%= latency %>s</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <% if jobs %>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Args</th>
                    <th>Queued</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% for job in jobs %>
                <tr>
                    <td><%= job.id %></td>
                    <td>
                        <small><code><%= job.name %></code></small>
                    </td>
                    <td>
                        <small><code><%= job.args %></code></small>
                    </td>
                    <td><%= job.created_at %></td>
                    <td>
                        <% if job.completed_at %>
                            <% if job.error %>
                                <code><small><%= job.error %></small></code>
                            <% else %>
                                Completed
                            <% end %>
                        <% elsif job.started_at %>
                        Running
                        <% else %>
                        Queued
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <% else %>
        <p class="text-center">There are currently no jobs.</p>
        <% end %>
    </div>
</div>

<%% "templates/rwf_admin/footer.html" %>
