<%% "templates/rwf_admin/head.html" %>
<%% "templates/rwf_admin/nav.html" %>

<div class="container" data-controller="model">

    <% for name in [table_name.camelize] %>
        <%% "templates/rwf_admin/reload.html" %>
    <% end %>

    <div class="mb-5">
        <%% "templates/rwf_admin/model_pages.html" %>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <% for column in selected_columns %>
                        <th><%= column %></th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                    <% for row in rows %>
                    <tr>
                        <% for column in selected_columns %>
                            <% if row[column] %>
                                <td><%= row[column] %></td>
                            <% else %>
                                <td><code>null</code></td>
                            <% end %>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <% if rows.len > 15 %>
            <%% "templates/rwf_admin/model_pages.html" %>
        <% end %>
    </div>
</div>

<%% "templates/rwf_admin/footer.html" %>
