<%% "templates/rwf_admin/head.html" %>
<%% "templates/rwf_admin/nav.html" %>
<div class="container">
    <h1>Models</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Model</th>
                </tr>
            </thead>
            <tbody>
                <% for model in models %>
                <tr>
                    <td>
                        <a href="/admin/models/model?name=<%- model.table_name.urlencode %>">
                            <%= model.table_name.camelize %>
                        </a>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<%% "templates/rwf_admin/footer.html" %>
