<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
        <a href="/admin/" class="brand-logo">&nbsp;Rust Web Framework</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/admin/jobs">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/requests">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/models">Models</a>
            </li>
        </ul>
    </div>
</nav>
