<div id="records">
    <div class="d-flex justify-content-end mb-4">
        <div class="form-group">
            <label class="form-label">Select columns</label>
            <select multiple data-action="change->model#selectColumn" class="form-select">
                <% for column in columns %>
                    <% if selected_columns.contains(column) %>
                        <option value="<%= column %>" selected><%= column %></option>
                    <% else %>
                        <option value="<%= column %>"><%= column %></option>
                    <% end %>
                <% end %>
            </select>
            <div class="form-text">Hold Cmd/Ctrl to select multiple fields.</div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <% for column in selected_columns %>
                <th><%= column %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% for row in rows %>
            <tr>
                <% for column in selected_columns %>
                <td><%= row[column] %></td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
