<meta charset="utf-8" />
<script type="importmap">
    {
        "imports": {
            "hotwired/stimulus": "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
        }
    }
</script>
<script async type="module">
    import "https://unpkg.com/@hotwired/turbo@8.0.10/dist/turbo.es2017-esm.js";

    addEventListener("turbo:before-stream-render", (event) => {
        const fallback = event.detail.render;

        event.detail.render = function (stream) {
            if (stream.action == "reload-page") {
                Turbo.visit(window.location.href, { action: "replace" });
            } else {
                fallback(stream);
            }
        };
    });
</script>
