<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title.upcase %></h1>
        <p><%= description.to_uppercase %></p>

        <code><%= product.name %></code>

        <ul>
        <% for product in products %>
        <li><%= product.name %></li>
        <% end %>
        </ul>

        <ul>
        <% for var in vars.enumerate %>
        <li><%= var %></li>
        <% end %>
        </ul>

        <code>
        <% for i in 5.times %>
            <%= i %>
        <% end %>
        </code>

        <% if title.downcase == "hello" && 1 == 2 %>
        <h1><%= title %></h1>
        <% else %>
        <h1>Not hello</h1>
        <% end %>
    </body>
</html>
