<!doctype html>
<html data-bs-theme="dark">
    <head>
        <%% "templates/head.html" %>
    </head>
    <body>
        <div class="container pt-5">
            <h2>Profile</h2>
            <hr>

            <div class="row">
                <div class="col-6">
                    <div class="card p-2">
                        <div class="card-title d-flex justify-content-end">
                            <strong><%= user.email %></strong>
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
