<!doctype html>
<html data-bs-theme="dark">
<head>
  <%% "templates/head.html" %>
</head>
<body>
    <div class="container pt-5 col-lg-6 col-12">
        <h1 class="mb-4">Create account</h1>
        <form method="post" action="/signup">
            <% if error_user_exists %>
            <div class="alert alert-danger">
                Account with this email already exists.
            </div>
            <% end %>
            <%= csrf_token() %>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" placeholder="Your email, e.g. user@example.com" required autocomplete="off" name="identifier">
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" placeholder="A secure password" required autocomplete="off" name="password">
            </div>

            <div class="mb-3">
                <label class="form-label">Password again</label>
                <input class="form-control" type="password" placeholder="A secure password" required autocomplete="off" name="password2">
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    Create account
                </button>
            </div>
        </form>
    </div>
</body>
</html>
