<%% "templates/header.html" %>

<div class="container pt-5">
    <div class="row">
        <div class="col-lg-3"><!-- spacing --></div>
        <div class="col-lg-6 col-12">
            <form method="post" action="/signup">
                <div class="mb-3">
                    <label class="form-label">Your name</label>
                    <input name="name" type="text" class="form-control" required placeholder="What's your name?">
                </div>


                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%% "templates/footer.html" %>